{% extends 'base.html' %}
{% load static %}


    {% block content%}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Hi, I'm Sir Waltermelon</h1>
      <p class="lead text-muted">This is a website built using Django, Python and Bootstrap it's pretty cool.</p>
      <p>
        <!-- <a href="mailto:fondertrout@gmail.com" class="btn btn-primary my-2">Email</a> -->
        <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
      </p>
      <img src="{% static 'logo.jpg' %}" height = 500 width = 1000 />
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for job in jobs.all%}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{job.image.url}}" height = 200 width = 300/>
            <div class="card-body">
              <p class="card-text">{{job.summary}}</p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

</main>

{% endblock %}
<!-- placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
